<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>

<body>
    <div id="wordsApp">
        <div class="text-center">
            <h1>You have chosen the ToDo List</h1>
            <div class="mt-3">
                <input type="text" v-model="assignment">
                <button class="btn" @click="Add">Add</button>
            </div>

            <div class="resultContainer">
                <div v-if="message">
                    <ol>
                        <li v-for="assignment in assignments">{{assignment}}
                            <button class="btn" @click="RemoveAssignment(assignment)">remove</button>
                        </li>
                    </ol>
                    <button class="btn" @click="RemoveAll">Clear list</button>
                </div>
                <div v-else>
                    You are done - Take a break!
                </div>
            </div>

            <br><a class="btn" href="/index.html">Redeem yourself (back to index)</a>
        </div>
        <script src="todo.js"></script>
</body>

</html>